<div class="counrty__card">
    
    <ul class="country-info list">
        <div class="country-info-header">
            <img class="country-flag--svg" src={{this.flags.svg}} alt="flag of {{this.name.official}}">
            <h2 class="country-name">{{this.name.common}}</h2>
        </div>
        <li class="country-info-item">
            <p class="capital">Capital: {{this.capital}}</p>
        </li>
        <li class="country-info-item">
            <p class="population">Population: {{this.populationCorrected}}</p>
        </li>
        <li class="country-info-item">
            <p class="language">Languages: {{this.langs}}</p>
        </li>
    </ul>
</div>